<%= form_for(:users, :url => {:action => 'login'}, :html => {:multipart => true}) do |nf| %>   




<table class=ListComments width="100%">
<tr  >
<td width="5%"> </td>
<td width="15%"> </td>
<td width="15%"> </td>
<td width="15%"> </td>
<td width="10%" ></td>
<td width="10%"></td>
<td width="10%"></td>
<td width="10%" ></td>
</tr>


<tr  >
<td width="5%"></td>
<td colspan=3  class=PetitionTitle >User Login</td>
<td width="15%"></td>
<td width="10%"></td>
<td width="10%"></td>
<td width="10%" ></td>
</tr>

<tr  >
<td width="5%"></td>
<td width="15%" class=labelred></td>
<td width="15%">  </td>
<td width="15%">  </td>
<td width="10%">  </td>
<td width="10%">  </td>
<td width="10%">  </td>
<td width="10%">  </td>
</tr>
<tr  >
<td width="5%"></td>
<td colspan=4 class=labelg>* User name and password are both required.</td>
<td width="10%">  </td>
<td width="10%">  </td>
<td width="10%">  </td>
</tr>

<tr  >
<td width="5%"></td>
<td width="15%" class=labelg>User name</td>
<td colspan=2 class=labelg>User Password</td>
<td width="10%"></td>
<td width="10%"></td>  
<td width="10%"></td>  
<td width="10%"></td>
</tr>

<tr  >
<td width="5%"></td>
<td width="15%" ><%=h text_field_tag(:username) %></td>
<td colspan=2><%=h password_field_tag(:password) %></td>
<td width="10%"></td>  
<td width="10%"></td>  
<td width="10%"></td>  
<td width="10%"></td>
</tr>

<tr  >
<td width="5%">&nbsp;</td>
<td width="15%">&nbsp;</td>
<td width="15%">&nbsp;</td>
<td width="15%">&nbsp;</td>  
<td width="10%">&nbsp;</td>  
<td width="10%">&nbsp;</td>
<td width="10%">&nbsp;</td>
<td width="10%">&nbsp;</td>
</tr>

<tr  >
<td width="5%"></td>
<td width="15%" ><%=h link_to "Forgot my user name", {:controller=>'Users', :action=>"forgot_username"}, :class=>'button_style_small' %></td>
<td colspan=2><%=h link_to "Forgot my password", {:controller=>'Users', :action=>"forgot_password"}, :class=>'button_style_small' %></td>
<td width="10%"></td>  
<td width="10%"></td>  
<td width="10%"></td>  
<td width="10%"></td>
</tr>

<tr  >
<td width="5%">&nbsp;</td>
<td width="15%">&nbsp;</td>
<td width="15%">&nbsp;</td>
<td width="15%">&nbsp;</td>  
<td width="10%">&nbsp;</td>  
<td width="10%">&nbsp;</td>
<td width="10%">&nbsp;</td>
<td width="10%">&nbsp;</td>
</tr>



<td width="5%">&nbsp;</td>
<td width="15%" align=left><%= submit_tag  "Login", :class=>"button_style" %></td>
<td colspan=2 align=left><%= link_to  "Changed My Mind", {:controller=>'Signatures', :action=>'show_refresh'}, { :class=>"button_style"}%></td>
<td width="10%" >&nbsp;</td>

<td width="10%" >&nbsp;</td>
<td width="10%" >&nbsp;</td>
</tr>

<tr  >
<td width="5%"> </td>
<td width="15%"> </td>
<td width="15%"> </td>
<td width="15%"> </td>
<td width="10%" ></td>
<td width="10%"></td>
<td width="10%"></td>
<td width="10%" ></td>
</tr>

</table>

<% end %>
